@import '@mantine/core/styles.css';

:root {
  --primary-color: #317039;
  --secondary-color: #F1BE49;
  --secondary-light-1: #FFF1D4;
  --secondary-light-2: #FFFBEB;
  --secondary-light-3: #F8EDD9;
  --error-color: #CC4B24;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}